:root {
  --blue: #345995;
  --white: #FDFFFC;
  --green: #6A8D73;
  --red: #823038;
  --pinkbrown: #BA8F95;
}

.App {
  /* text-align: center; */
  /* align-items: center; */
  padding: 5em;
  max-width: 1300px;
  margin: auto;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--blue);
}

.App-link {
  color: var(--green);
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: calc(1.5vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2 {
  color: var(--red);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: calc(2.5vmin);
}

.column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.left-col-margin {
  margin-left: 5em;
}

.right-col-margin {
  margin-right: 5em;
}