:root {
  --blue: #345995;
  --white: #FDFFFC;
  --green: #6A8D73;
  --red: #823038;
  --pinkbrown: #BA8F95;
  --black: #000000;
}

video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.video-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.pink-background {
  padding: 1em;
  background-color: rgb(186, 143, 149, 0.3);
}

.App {
  /* text-align: center; */
  /* align-items: center; */
  /* padding: 5em; */
  max-width: 1000px;
  min-width: 800px;
  margin: auto;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 40s linear;
  }
}

.App-header {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--blue);
}

.App-link {
  color: var(--green);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.feedback-list {
  margin: 0;
  color: var(--red);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 16px;
  /* overflow-wrap: break-word; */
  line-height: 1.5em;
  /* list-style-position: inside;
  list-style-type: circle; */
}

p {
  margin: 0;
  color: var(--blue);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 16px;
  overflow-wrap: break-word;
}

h2 {
  color: var(--red);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: calc(2.5vmin);
}

h3 {
  margin-top: 0;
  line-height: 1.5em;
  color: var(--blue);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: calc(2vmin);
  /* word-break: break-all;
  display: inline; */
}

.column {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: space-between; */
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.8em;
  margin: 0.5em 0 0.5em 0; 
}

.center-col {
  margin: 0 40px 0 40px;
  /* padding: 0 40px 0 40px; */
  /* border-left: 0.px solid var(--green); */
  /* border-right: 2px solid var(--green); */
  min-width: 700px;
}

.left-col {
  padding: 0 40px 0 0;
}

/* .right-col {
  padding: 0 0 0 40px;
} */

.letterinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.line-height-dense {
  line-height: 2em;
}

.control-buttons {
   gap: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   /* justify-content: center; */
}

.feedback {
  color: var(--red);
}